{% extends 'base.html.twig' %}
{% block body %}

<ul>
<li>Nsc:{{student.nsc}}</li>
<li>name:{{student.name}}</li>
<li>email:{{student.email}}</li>
<li>birth date:{{student.birthDate|date}}</li>

</ul>
{% endblock %}